/* clientes.css */

.clientes-title {
  color: #000000ff;
}

.clientes-back-button {
  border-color: #0d6efd;
  color: #0d6efd;
}

.clientes-back-button:hover {
  background-color: #0d6efd;
  color: white;
}

.clientes-spinner {
  color: #0d6efd;
}

.cliente-card {
  border-color: #0d6efd;
}

.cliente-avatar {
  width: 60px;
  height: 60px;
  background-color: #0d6efd40;
  color: #0d6efd;
}

.cliente-name {
  color: #000000;
}

.cliente-prestamo-activo {
  background-color: #10b951;
}

.cliente-ver-perfil {
  background-color: #0d6efd;
  color: white;
  border: none;
}
